// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

.post-full-content {
    position: relative;
    margin: 0 auto;
    padding: 70px 100px 0;
    min-height: 230px;
    font-family: Georgia, 'Nanum Gothic', serif;
    font-size: 2.2rem;
    line-height: 1.6em;
    background: #fff;
}
